
html, body {
  position: relative;
  background-color: #191919;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  font-family:  "Helvetica", Arial, sans-serif;
}

.caja{
  background-color: #ffffff;
  border-radius: 15px;
  width: 350px;
  height: 550px;
  box-shadow: 0 15px 24px 10px rgba(0, 0, 0, 0.9);
  position: relative;
}

.logo{
  margin-top: 60px;
  font-size: 40px;
  text-align: center;
  color: #e4bc17;
}

.iniciar_sesion {
  padding: 5%;
}

.form-titulo{
  //margin-top: 15px;
  margin-bottom: 50px;
  background-color: #ff0081;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  -webkit-transform: translate(-10%, 0);
  height: 45px;
  padding-top: 15px;
}

.form-cuerpo{
  border-radius: 5px;
  background-color: #F0E9C9;
  padding: 10px;
  max-width: 300px;
}

.form-cuerpo .input{
  color: #FF0081;
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 10px;
  border-bottom: 1px solid #eee;
  width: 93%;
  font-size: 12px;
}

.botonera{
  background-color: #ff0081;
  color: #fff;
  text-align: center;
  height: 80px;
  border-radius: 20% 30% 15px 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0px;
  -webkit-transition: all .3s ease;
}

.centrado{
  text-align: center;
}

.iconos{
  margin-top: 30px;
  color: #ffffff;
  position: absolute;
  text-decoration: none;
}


.animacion1 {
  animation-name: mover-titulo;
  animation-duration: 2300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes mover-titulo {
  0% {
    opacity: 0.9;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.7;
  }
}
